@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

body {
  margin: 0;
  font-family: "Uchen";
  font-size: medium;
  background-image: url(https://pbs.twimg.com/media/EVvJpmgU8AAEq2q?format=jpg&name=large);
}

h1 {
  text-align: center;
  /* background-image: url(https://pbs.twimg.com/media/EVvJpmgU8AAEq2q?format=jpg&name=large); */
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px yellow;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

/* .search-container {
  display: flex;
  justify-content: center;
} */

/* .search-bar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
  margin-top: 50px;
  font-size: 100px;
  width: 250px;
} */

.dossier-container {
background-color: rgb(255, 255, 255);
opacity: 70%;
border-radius: 2px;
color: black;
max-width: 420px;
margin: 8px 8px;
}

/* .fetch-button { */
  /* width: 10px; */
/* } */

.dossier-title {
  font-size: 23px;
}

.dossiers-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 20px 0px 20px;
  /* justify-content: space-around; */
 
}
