@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

html {
  min-height: 100vh;
}

body, #root, .App, .loader {
  min-height: inherit;
}

body {
  font-size: medium;
  background-image: url(https://pbs.twimg.com/media/EVvJpmgU8AAEq2q?format=jpg&name=large);
}

h1 {
  text-align: center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px yellow;
  padding: 15px 0px 20px 0px;
}

.App {
  text-align: center;
  position: relative;
}

.dossier-container {
  background-color: rgb(255, 255, 255);
  opacity: 0.7;
  border-radius: 2px;
  color: black;
  height: 250px;
  max-width: 420px;
  margin: 8px 8px;
}

.dossier-title {
  font-size: 23px;
}

.page-pagination-top, .page-pagination-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 0.9;
  width: 150px;
  margin-left: 64px;
}

.page-up-button {
  bottom: 10px;
  position: fixed;
}

.page-pagination-bottom {
  position: relative;
  bottom: 10px;
}

.page-up-button {
  right: 12px;
  margin-right: 63px;
}

.page-number {
  font-size: large;
  color: rgb(230, 230, 230);
}

.dossiers-container {
  margin: 10px 63px 20px 63px;
}